---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/_includes/bundle.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="body-container">
      {{ content | safe }}
    </div>
  </body>
</html>